
body{
    background: white;
}

body div{
    display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0px;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline; 
}

form{
    padding-bottom: 15px;
}
.email{
    display: block;
    text-align: right;
}


        
        
